extends ../layout

block content
    link(rel="stylesheet", href="/css/input.css")
    form(method="POST")
        input#isbn(name = "isbn" placeholder="ISBN")
        div 
        input#title(name = "title" placeholder="도서명")
        input#publisher(name = "publisher" placeholder="출판사")
        input#author(name = "author" placeholder="저자")
        input#price(name = "price" placeholder="가격")

        button.btn_save 저장
        button.btn_new 새로쓰기
        button.btn_list 리스트