form {
  width: 80%;
  margin: 0 auto;
}

h3 {
  width: 80%;
  margin: 10px auto;
}

form.student.input input {
  width: 90%;
  margin: 0 auto;
  padding: 8px;
  border-radius: 10px;
}

form.student.input input,
button {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
}
