.student {
  width: 80%;
  margin: 5px auto;
}

h1.student {
  padding: 1.2rem;
}

table.student {
  border-collapse: collapse;
}

td,
th {
  border-bottom: 1px solid #eee;
  border-right: 1px solid#eee;
  padding: 10px;
}

th:nth-last-of-type(1),
tr:nth-last-of-type(1) {
  border-right: none;
}

div.student {
  width: 80%;
  margin: 10px auto;
  padding: 10px 0;
  text-align: right;
}

div.student a {
  display: inline-block;
  padding: 12px 16px;
  background-color: rgb(3, 255, 230);
  color: white;
  font-weight: 900;
  border-radius: 10px;
}

div.btn_box a:hover {
  background-color: #24e5ff;
}
