input {
  width: 80%;
  margin: 5px auto;
}

form {
  padding: 15px 0;
  border-radius: 10px;
  justify-content: center;
}

form input {
  display: block;
  width: 70%;
  margin: 20px auto;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  outline: none;
}

form button {
  display: inline-block;
  padding: 1.2rem;
  margin-left: 20px;
  width: 200px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form button:nth-of-type(1) {
  margin-left: 500px;
}
