doctype html
html
  head
    title Spell Check Result
  body
    h1 Spell Check Result
    h2 Original Text
    p= originalText
    h2 Corrected Text
    p= correctedText
    a(href="/") Check Another Text