.iolist {
  width: 80%;
  margin: 0 auto;
}

table.iolist {
  background-color: #eee;
  border-collapse: separate;
  border-spacing: 1px;
  th,
  td {
    text-align: left;
    white-space: nowrap;
    padding: 10px 12px;
    border: 1px solid transparent;
    /* top, right, bottom, left 순서로 색상 지정*/
    border-color: white #ddd #ddd white;

    &:nth-last-of-type(1) {
      border-right: 1px solid transparent;
    }
  }
  th {
    border-top: 1px solid #ddd;
  }
  tr:nth-last-of-type(even) {
    background-color: #f9f9f9 !important;
  }
  tr:hover {
    background-color: #ddd;
  }
}

div.iolist.btn_box {
  text-align: right;
  a {
    display: inline-block;
    padding: 12px 0;
    &:hover {
      text-decoration: underline;
      text-decoration-color: blue;
    }
  }
}
